* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px dotted black; */
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  background-color: #ffffff;
}

.container {
  width: 100%;
  height: fit-content;
  display: flex;
  /* flex-flow: row wrap; */
  /* gap: 40px; */
  /* padding: 20px; */
}
.createNote {
  max-width: 500px;
  width: 100%;
  min-height: 45px;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  background-color: #fdfdfd;
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
  /* outline: 1px dotted black; */
}

.createNoteForm {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  /* outline: 1px dotted black; */
}

.createNoteForm input,
.createNoteForm textarea {
  width: 100%;
  padding: 5px;
  font-size: 1.2rem;
  border: none;
  outline: none;
  cursor: pointer;
  /* outline: 1px dotted black; */
}

.createNoteForm input::placeholder,
.createNoteForm textarea::placeholder {
  color: #616161;
}

.createNoteSend {
  max-width: 100px;
  width: 30%;
  background: none;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
}

.createNoteContent {
  height: 30px;
  overflow-y: hidden;
  line-height: 20px;
  resize: none;
  font-family: inherit;
  /* outline: 1px dotted black; */
}

.noteList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  gap: 10px;
}

.note {
  max-width: 300px;
  /* width: 46%; */
  min-width: fit-content;
  /* min-height: 70px;
  max-height: 200px; */
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 15px;
  border: 1px solid #b8b8b8;
  border-radius: 8px;
  line-break: loose;
  word-break: break-word;
  cursor: pointer;
}

.noteTitle {
  width: 100%;
  font-size: 1.2rem;
  /* font-weight: bold; */
}

.noteContent {
  width: 100%;
  font-size: 1.1rem;
  /* font-weight: 500; */
}

.noteOptions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.noteOptions div {
  cursor: pointer;
}

.navBar {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #dedede;
  padding: 5px 10px;
  gap: 30px;
  box-shadow: 0px 0px 6px 0px rgb(212, 212, 212);
}

.navBar .navButtons {
  width: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  gap: 10px;
}

.navBar .navButtons li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in;
  cursor: pointer;
}

/* .navBar .navButtons li:hover {
  transform: scale(1.15);
} */

.navBar .btn-menu {
  width: 30px;
  height: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.navBar .btn-menu div {
  display: block;
  width: 100%;
  height: 0.2rem;
  border-radius: 5px;
  background-color: #000000;
}

.logo {
  width: 10rem;
  display: flex;
  padding: 2px;
  gap: 5px;
}

.menu {
  max-width: 15%;
  width: fit-content;
  min-width: 5rem;
  height: fit-content;
  display: flex;
  flex-flow: row wrap;
  gap: .35rem;
  /* padding: .5rem; */
  /* transition: .2s; */
  /* outline: 1px dotted black; */
}

.menu.unactive {
  width: 4%;
  /* width: fit-content; */
  max-width: 3rem;
}

.menu.unactive .menuItem {
  width: 100%;
  justify-content: center;
}

.menu.unactive .itemText {
  display: none;
}

.menu.unactive .menuItem {
  justify-content: flex-start;
}

.menu ul, .categories {
  width: 100%;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.menuItem {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: .8rem;
  gap: 1.5rem;
  border-radius: 0 20px 20px 0;
  transition: .2s;
}

.menuItem:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.menuItem.selected {
  background-color: #dedede;
}

.itemText {
  font-weight: 550;
  font-size: 1.1rem;
}

.itemIcon {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: 100%;
  min-width: 80%;
  /* width: 80%; */
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-flow: row wrap;
  gap: 20px;
  padding: 20px;
  /* outline: 1px dotted black; */
}

@media screen and (min-width: 620px) {
  .noteList {
    justify-content: left;
  }

  .note {
    width: 30%;
  }
}
