* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px dotted black; */
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  background-color: #ffffff;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 20px;
}
.createNote {
  max-width: 800px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  background-color: #fdfdfd;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.createNoteForm {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.createNoteForm input {
  width: 100%;
  padding: 5px;
  font-size: 1.2rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.createNoteForm input::placeholder {
  color: #000000;
}

.createNoteSend {
  max-width: 100px;
  width: 30%;
  background: none;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
}

.noteList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  gap: 15px;
}

.note {
  max-width: 280px;
  width: 45%;
  min-width: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 15px;
  border: 1px solid #b8b8b8;
  border-radius: 8px;
  line-break: loose;
  word-break: break-word;
}

.noteTitle {
  width: 100%;
  font-size: 1.2rem;
  /* font-weight: bold; */
}

.noteContent {
  width: 100%;
  font-size: 1.1rem;
  /* font-weight: 500; */
}

.noteOptions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.noteOptions div {
  cursor: pointer;
}

.navBar {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #999999;
  padding: 5px 5px;
}

.navBar .navButtons {
  width: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  gap: 10px;
}

.navBar .navButtons li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar .menu {
  width: 35px;
  /* height: 25px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.navBar .menu div {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000000;
}

@media screen and (min-width: 620px) {
  .noteList {
    justify-content: left;
  }

  .note {
    width: 30%;
  }
}
