<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/noteList.css" />
    <script src="https://code.iconify.design/iconify-icon/1.0.8/iconify-icon.min.js"></script>
    <title>Notefy</title>
  </head>

  <body>
    <%- include('partials/navBar') %>
    <main class="container">
      <%- include('partials/menu') %>
      <div class="content">
        <div class="createNote">
          <form class="createNoteForm" contenteditable="false">
            <input
              type="text"
              class="createNoteTitle"
              name="title"
              placeholder="Note title"
              spellcheck="false"
              style="display: none"
            />
            <textarea
              class="createNoteContent"
              name="content"
              spellcheck="false"
              placeholder="Create a note..."
            ></textarea>
            <select name="" class="formCategories invisible">
              <option value="0" disabled>Selecione uma categoria</option>
            </select>
          </form>
          <div class="btn-categories invisible">
            <iconify-icon icon="octicon:paperclip-16" style="color: #000000; font-size: 1.5rem"></iconify-icon>
          </div>
          <button class="createNoteSend" style="display: none">Fechar</button>
        </div>
        <div id="root" class="noteList"></div>
      </div>
    </main>
    <script type="module" src="js/noteList.js"></script>
  </body>
</html>
