<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/sign.css" />
    <title>Sign Up</title>
  </head>
  <body>
    <main class="container">
      <div class="form">
        <h1>Sign Up</h1>
        <form novalidate>
          <div class="inputField">
            <label for="nickname">Nickname</label>
            <input
              type="text"
              name="nickname"
              autocomplete="off"
              spellcheck="false"
              minlength="4"
              required
            />
            <div class="invalid">Type a nickname (4 characters or more)</div>
          </div>

          <div class="inputField">
            <label for="name">Name</label>
            <input
              type="text"
              name="name"
              autocomplete="off"
              spellcheck="false"
              minlength="5"
              required
            />
            <div class="invalid">Type your name</div>
          </div>

          <div class="inputField">
            <label for="email">E-mail</label>
            <input
              type="email"
              name="email"
              autocomplete="off"
              spellcheck="false"
              required
            />
            <div class="invalid">Type an e-mail</div>
          </div>

          <div class="inputField">
            <label for="password">Password</label>
            <input
              type="password"
              name="password"
              autocomplete="off"
              spellcheck="false"
              minlength="8"
              required
            />
            <div class="invalid">Type your password (8 characters or more)</div>
          </div>

          <button type="submit" name="signup-submit">Sign Up</button>
        </form>
      </div>
    </main>
  </body>
  <script src="/js/signup.js"></script>
</html>
