<div class="menu">
  <ul class="options">
    <li class="menuItem">
      <span class="itemIcon">
        <iconify-icon
          icon="fluent:note-16-regular"
          style="color: #000000; font-size: 1.5rem"
        ></iconify-icon>
      </span>
      <span class="itemText">Notes</span>
    </li>
  </ul>
  <ul class="categories"></ul>
  <ul class="options">
    <li class="menuItem" id="signoutButton">
      <span class="itemIcon">
        <iconify-icon
          icon="nimbus:log-out"
          style="color: #000000; font-size: 1.5rem"
        ></iconify-icon>
      </span>
      <span class="itemText">Signout</span>
    </li>
  </ul>
</div>
