<nav class="navBar">
  <div class="menu">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <ul class="navButtons">
    <li id="signoutButton">
      <iconify-icon
        icon="ic:baseline-logout"
        style="color: rgb(0, 0, 0); font-size: 2rem"
      ></iconify-icon>
    </li>
  </ul>
</nav>
