<nav class="navBar">
  <div class="btn-menu">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <ul class="navButtons">
    <li class="logo">
      <span>
        <iconify-icon
          icon="fluent:note-16-regular"
          style="color: rgb(0, 0, 0); font-size: 2rem"
        ></iconify-icon>
      </span>
      <span>Notefy</span>
    </li>
    <li class="userInfo">
      <div class="userPhotoDiv">
        <img src="/img/user/default.png" class="userPhoto" alt="" />
      </div>
      <span class="userName"></span>
    </li>
  </ul>
</nav>
